/*para colocar uma font que baixamos*/
@font-face {
    font-family: open_sans;
    src: url(opensans-semibold-webfont.woff);
}

p{
    /*derfine um conjunto de fontes que vai ser
    utilizado pelo navegador. Definimos familia de fontes
    especificas e uma familia generica
    */
    

    
    font-family: open-sans;

   
    /*
    temos dois valores
    font-variant: normal;
    font-variant: small-caps;
    */

    /*negrito*/
    font-weight: bold;

    /*temos tres valores
    font-style: normal;
    font-style: italic;
    font-style: oblique;
    */

    /* 1em = 16px9*/
    font-size: 1em;

}